<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/23.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/demotool.css">
    <title>Interactive Landslide Simulator</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-1"><a href="/"><embed height="50" width="50" src="/23.png"></a></div>
          <div class="col-md-11"><div class="navbar-header"><a href="/" class="navbar-brand">Interactive Landslide Simulator</a></div></div>
        </div>
      </div>
    </nav>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, msg in messages %}
            <div class="alert alert-{{category}}">{{ msg }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>